body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    color: #FFF;
}

a {
    color: aquamarine;
}

a:visited {
    color: aquamarine;
}

a:active {
    color: navy;
}

a:hover {
    color: aqua;
}

i {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    float: left;
    z-index: 5;
    margin-top: 16px;
    transform: rotate(-45deg);
}

img {
border: 3px solid #808080;
}

figcaption {
  border: 2px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  text-shadow: none;
  color: white;
  text-align: left;
  height: auto;
  word-wrap: break-word;
  width: 550px;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 75px auto 50px;
    grid-template-areas: "head head" "menu body" "menu footer";
}

p {
   font-size: 18px;
}

.head {
    grid-area: head;
    background-color: #4A4A4A;
}

.head h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 0;
}

.menu {
    grid-area: menu;
    background-color: #2E2E2E;
}

.menu h1 {
    text-align: center;
    margin: 2px 0 5px 0;
    font-size: 25px;
}

.menu hr {
    margin: 0;
}

.menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu ul li {
  padding: 15px;
  position: relative;
  width: 169px;
  background-color: grey;
  border-right: 5px solid black;
  border-top: 1px solid silver;
  cursor: pointer;
}

.menu ul li:hover {
  background-color: black;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu ul ul {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  left: 99%;
  top: -2%;
}

.menu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.body {
    grid-area: body;
    padding: 5px 0 0 5px;
}

.footer {
    grid-area: footer;
    background-color: #0e0e0e;
}

.footer p {
    margin: 0;
}

footer {
  text-align: center;
  color: white;
  font-size: 16px;
}
